.navbar ul{
    list-style-type: none;
    background-color:  rgb(22, 58, 22);
    padding: 0px;
    margin: 0px;
    border-radius: 20px;
    border: 2px;
    box-shadow: 8px 8px 7px rgb(135, 67, 67);
    gap: 4px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
}
.navbar a{
    text-decoration: none;
    color: rgb(254, 255, 255);
    display: block;
    text-align: center;
    padding: 10px 15px;
    font-size: 14px;
    height: 35px;
    transition: 0.5s;
    border: 1px;
    border-radius: 30px;
}
.navbar a:hover{
    color: rgb(0, 0, 0);
    background-color: aliceblue;
    transform: translate3d(0, 0, 50px);}
footer {
            text-align: center;
            padding: 15px;
            background: skyblue;
            color: white;
            margin-top: 30px;
        }
